@font-face {
  font-family: font;
  src: url(http://purebeast46.github.io/font.ttf);
}

font{
    color: #fff;
    font-family: font;
    font-size: large;

}

a{
    text-decoration: none;
    color: #0f0;
}